version: 2
updates:
  - package-ecosystem: maven
    directory: '/'
    schedule:
      interval: weekly
    groups:
      maven:
        patterns:
          - '*'
    ignore:
      - dependency-name: "org.junit:junit-bom"
        update-types:
          - "version-update:semver-major"
      - dependency-name: "org.testcontainers:testcontainers-bom"
        update-types:
          - "version-update:semver-major"
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: weekly
    groups:
      workflows:
        patterns:
          - "*"
